<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Churn Prediction</title>
</head>
<body>
  
    <style>
        h3 {
            background-color: #d3d3d3; /* Color gris claro */
            padding: 10px; /* Añade espacio alrededor del texto */
            text-align: center; /* Centra el texto */
        }
    </style>
</head>
<body>
    <h3>TP MLOps - Grupo 8</h3>

  
  
    <h1>Modelo predictivo de Churn</h1>
       <h2> Inserte su input (valores numéricos):</h2> 
    <form action="/predict" method="post">
        <label for="qorders">Cantidad de órdenes del cliente:</label>
        <input type="number" id="qorders" name="qorders" required><br>
        
        <label for="days_since_registration">Días desde el resgistro:</label>
        <input type="number" id="days_since_registration" name="days_since_registration" required><br>
        
        <label for="days_since_last_purchase">Días desde la última compra:</label>
        <input type="number" id="days_since_last_purchase" name="days_since_last_purchase" required><br>

        <label for="gender_MALE">Género masculino:</label>
        <input type="number" id="gender_MALE" name="gender_MALE" required><br>
        
        <label for="gender_UNKNOWN">Género desconocido:</label>
        <input type="number" id="gender_UNKNOWN" name="gender_UNKNOWN" required><br>
            <!-- Texto intermedio -->
        <p><strong>Categoría del ingresos:</strong></p>
        
        <label for="income_LOW">Low:</label>
        <input type="number" id="income_LOW" name="income_LOW" required><br>
        
        <label for="income_MID">Mid:</label>
        <input type="number" id="income_MID" name="income_MID" required><br>
        
        <label for="income_MID_LOW">Mid-low:</label>
        <input type="number" id="income_MID_LOW" name="income_MID_LOW" required><br>
        
        <label for="income_MID_HIGH">Mid-high:</label>
        <input type="number" id="income_MID_HIGH" name="income_MID_HIGH" required><br>
   
        <label for="income_UNKNOWN">Unknown:</label>
        <input type="number" id="income_UNKNOWN" name="income_UNKNOWN" required><br>

      <!-- Texto intermedio -->
        <p><strong>Categoría del cliente:</strong></p>
              
        <label for="lifecycle_New">Categoría de cliente New:</label>
        <input type="number" id="lifecycle_New" name="lifecycle_New" required><br>      
     
        <label for="lifecycle_Onboarded">Onboarded:</label>
        <input type="number" id="lifecycle_Onboarded" name="lifecycle_Onboarded" required><br>
        
        <label for="lifecycle_Prospect">Prospect:</label>
        <input type="number" id="lifecycle_Prospect" name="lifecycle_Prospect" required><br>
        
        <label for="lifecycle_Stable">Stable:</label>
        <input type="number" id="lifecycle_Stable" name="lifecycle_Stable" required><br>
        
        <label for="lifecycle_Super_Heavy">Super Heavy:</label>
        <input type="number" id="lifecycle_Super_Heavy" name="lifecycle_Super_Heavy" required><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>